---
---

@import '../_sass/bootstrap/bootstrap.scss';

body{
    background-color: black;
    background-image: url("/images/pattern2.png");
    background-attachment: fixed;
    font-family: 'Roboto', sans-serif;
}



// Navbar
.navbar{
    border-bottom: 2px solid $primary;
    margin-bottom: 15px;
    z-index: 3;
}

@media (min-width: map-get($grid-breakpoints, lg)) {
    .navbar {
        padding-bottom: 0px;
    }

    .navbar-light .navbar-nav .nav-link,
    .navbar-light .navbar-brand,
    .navbar-light .navbar-toggler {
        color: white;
    }
}

@media (max-width: map-get($grid-breakpoints, lg)) {
    .navbar-light .navbar-nav .nav-link,
    .navbar-light .navbar-brand {
        color: inherit;
    }

    .navbar-light {
        background-color: white;
        transition: background-color 200ms linear;
    }
}

.navbar-light.scrolled .navbar-nav .nav-link,
.navbar-light.scrolled .navbar-brand {
    color: inherit;
}

.navbar-light.scrolled{
    background-color: white;
    transition: background-color 200ms linear;
}

.nav-item{
    padding: 0px 15px;
}
.nav-item.active{
    background-color: $primary;
    color: #fff;
}

//Main page
h2{
    text-align: center;
}

//Video
.intro-video-container{
    max-height: 500px;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: -1;
}
@media (max-width: 450px) {
    .intro-video-container {
        max-height: inherit;
    }
}
.intro-video, .intro-image{
    position: absolute;
    object-fit: cover;
    width: 100%;
    height: 100%;
}
.intro-video-fader
{
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 2;
    background: rgba(0, 0, 0, 0.8);
}

//Workwithus
.jumbotron{
    color: white;
    background-color: transparent;
    margin-bottom: 0px;
}
@media (max-width: map-get($grid-breakpoints, lg)) {
    .jumbotron{
        padding: 0;
    }
}
//Printing
#printing{
    background-color: white;
    padding: 20px;
}

#contact,
#about,
#reference {
    width: 100%;
    padding: 20px;
}
#about,
#reference {
    background-color: white;
}

#reference .grid-item,
.grid-sizer {
    width: 20%;
}

#reference #image-slider {
    height: 100%;
}
#image-slider img{
    max-height: 400px;
    height: 100%;
    margin: 0 auto;
}

//Carousel
.carousel-control-prev-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='#ff9800' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E");
}

.carousel-control-next-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='#ff9800' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E");
}

//Footer
.footer{
    padding: 15px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    background-color: $primary;
    color: white;
}

.footer .logo {
    margin: 0px 10px;
    max-height: 40px;
}

@media (max-width: map-get($grid-breakpoints, lg)) {
    .footer {
        justify-content: center;
    }
    .footer .logo-container{
        display:flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    .footer .logo{
        margin: 10px;
    }
}


#printing .row{
    align-items: center;
}


#printtimeslider{
    margin-top: 15px;
}
