<div class="container hide">
    <!--<div class="video">
        <img class="intro-image d-lg-none" src="images/intro.png">
        <div class="intro-video-fader"></div>
    </div>-->
    <div class="jumbotron">
        <h1 class="display-4">Nyomtass velünk!</h1>
        <p class="lead">Szükséged lenne egy egyedi modellre? Szeretnéd, hogy kedvenc karaktered kézzel megfogható legyen
            vagy
            csak az áramkörökdet szeretnéd egyedileg dobozolni?</p>
        <hr class="my-4">
        <p>Ha bármelyik kérdésre igen a válasz, akkor jó helyen jársz.</p>
        <p class="lead">
            <a class="btn btn-primary btn-lg"
                href="https://docs.google.com/document/u/1/d/e/2PACX-1vQKDIH524NpO6AbyRunLhKKdFyJoIvSUByva5IsOY1aWqBF5A8--PcVN2VAB2yewvIWLxn4SD6YKvki/pub"
                target="_blank" role="button">Kezdés
                »</a>
        </p>
    </div>
</div>