<nav class="navbar navbar-expand-lg navbar-light sticky-top">

    <a class="navbar-brand" href="/">LEGO 3D</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navBar" aria-controls="navBar"
        aria-expanded="false" aria-label="Toggle navigation" id="navBarButton">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navBar">
        <ul class="navbar-nav mr-auto">

            <li class="nav-item active">
                <a class="nav-link" href="#printing">Nyomtatás</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#about">Rólunk</a>
            </li>
            <!-- <li class="nav-item">
                <a class="nav-link" href="#printer">Nyomtató</a>
            </li> -->
            <li class="nav-item">
                <a class="nav-link"
                    href="https://docs.google.com/spreadsheets/u/1/d/e/2PACX-1vT283gVSzwHFxBS9hDFv9aSKkup1_JwsJTyloAZvS1MwZnSMIp1-_kowlvlupJWniEfzb2z1v1HntYG/pubhtml?gid=0&single=true"
                    target="_blank">Elérhető filamentek</a>
            </li>
            <li class="nav-item">
                <a class="nav-link"
                    href="https://docs.google.com/document/u/1/d/e/2PACX-1vQKDIH524NpO6AbyRunLhKKdFyJoIvSUByva5IsOY1aWqBF5A8--PcVN2VAB2yewvIWLxn4SD6YKvki/pub"
                    target="_blank">Felkérési szabályzat</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#reference">Referencia</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#contact">Kapcsolat</a>
            </li>

        </ul>
    </div>
</nav>